# My Jupyter Notebook on IBM Watson Studio

__Edricnes__ <br>
My desired occupation is to be a data scientist, analyst, consultant or fields that involve data driven business intelligence <br>
Also this markdown and the next have no header styling

_I am interested in data science because the field fascinates me very much. From the wide array of applications, the importance of it, the constant innovation and improvement in the field, it just is interesting._
<br>
_I for one love playing with numbers, but I hate the job prospects and the unfair treatment my background education, civil engineers get in my country_

### The code below shows the simple way to make a dataframe from a dictionary

In [7]:
import pandas as pd
pizza = {'Diameter': [6, 8, 10, 14, 18], 'n_topping': [2, 1, 0, 2, 0], 'Price': [7, 9, 13, 17.5, 18]}
pizza_df = pd.DataFrame(pizza)
pizza_df

   Diameter  n_topping  Price
0         6          2    7.0
1         8          1    9.0
2        10          0   13.0
3        14          2   17.5
4        18          0   18.0

<p style="text-align:center">
    <a href="https://github.com/" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Banana-Single.jpg/2324px-Banana-Single.jpg" width="200" alt="Banana"  />
    </a>
</p>

| Date (YYYY-MM-DD) | Time | My Friends    | What is This                 |
| ----------------- | ------- | ------------- | ---------------------------------- |
| 2022-06-24        | 3.0     | Aldy, Randall  | A Task of the Course  
## <h3 align="center"> Edricnes, a Bachelor of Engineering <h3/>